body {
    background-color: hsla(120,100%,85%,0.5);
    font-style: italic;
    font-family: 'Akaya Kanadaka', cursive;
}    
    

.resume {
        color: seagreen;
}

/* Normal link */
a:link {

}
/* Visited Link */
a:visited{

}

/* Hover Link */
a:hover{

}
/* Active Link */
a:active{

}



    
